@media (min-width: 600px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }
    section {
        padding: 0 auto;
    }

    .informações_gerais{
        margin-top: 5.3rem;
        padding-top: 1.5rem;
        padding-bottom: 8.5rem;
    }
    .cultura{
        margin-top: 5rem;
    }
    .historia{
        margin-top: 5.3rem;
        padding-bottom: 6rem;
    }
    .bandeira{
        padding-bottom: 12.4rem;
        margin-bottom: 4rem;
    }
    .politica{
        padding-bottom: 16.5rem;
        margin-bottom: 4rem;
    }
}